<h1>Nos restaurants</h1>


<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>

<h1> Reviews </h1>
<div><% @restaurant.reviews.each do |review| %>
	  <h2><%= review.content %></h2>
	  <p><%= review.rating %></p>
	<% end %></div>

<%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary"%>
<%= link_to "Back to list", restaurants_path, class: "btn btn-primary" %>
